/*Ubuntu*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --color-dark: #1f1f1f;
    --color-light: #dfdfdf;
    --color-light-gray: #888888;
    --color-accent: #3bd858;
    --color-red: #E53856;
}

html {
    font-size: 16px;
}

body, html, #bg {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

#bg { 
    background-color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

#container { 
    background-color: white;
    padding: 2rem;
    border-radius: 3rem 3rem 8rem 3rem;
    width: fit-content;
}

#input-container {
    width: 400px;
}

h1 {
    font-weight: 900;
    font-style: italic;
}

h1, h2 {
    text-align: center;
    margin-top: 0;
}

form {
    margin-bottom: 2rem;
}

form div#input-container {
    display: flex;
    justify-content: space-between;
}

label {
    display: block;
    color: var(--color-light-gray);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.date-input {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 114px;
}

input {
    width: 6rem;
    height: 2rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid var(--color-light);
    border-radius: 1rem;
    outline: var(--color-light-gray);
    color: var(--color-dark);
}

.invalid label {
    color: var(--color-red);
}

.invalid input {
    border-color: var(--color-red);
}

.errormsg {
    color: var(--color-red);
    font-style: italic;
    margin-top: 0.25rem;
    white-space: nowrap;
}

#btn-container {
    display: flex;
    align-items: center;
    width: 32rem;
}

#line {
    height: 2px;
    width: 100%;
    background-color: var(--color-light);
}

button, input[type='button'] {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 0px;
    background-color: var(--color-accent);
    background-image: url(images/play-fill.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.5rem;
}

/* Remover as setas do input de números */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div#res {
    font-family: 'Ubuntu', sans-serif;
}

#res p {
    font-size: 6rem;
    font-weight: 900;
    color: var(--color-dark);
    margin: 0;
    font-style: italic;
}

strong {
    color: var(--color-accent);
}

@media only screen and (max-width: 660px){
    #container {
        width: 85%;
    }

    #btn-container {
        width: 100%;
    }

    #res p{
        font-weight: 700; 
        font-size: 5rem;
    }
}